.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
                       rgba(0, 0, 0, 0.5)), url("../media/IMG_1520.jpg");
}

img {
    max-width: 100%;
}

.red-background {
    background-color: #a40000;
    color: white;
}

.button.is-danger{
    background-color: #a40000;
}